body{
  font-family: verdana;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin: 1rem;
}

nav#nav-var {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  align-items: center;
  background-color: gainsboro;
  max-height: 15%;
  min-height: 80px;
}

.homeBookDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100%/4 - 1rem);
    height: auto;
    padding: 1rem;
    margin: 1rem;
    border: solid 2px grey;
}

.homeBookDiv > img {
 padding: 5px;
 height: 150px;
 width: 150px;
}

#homeTitle {
  text-align: center;
}

#searchBarInput {
  width: 350px;
}

#homeFooter {
  border-top: solid black ;
  border-bottom: solid black;
  text-align: center;
}
#homeFooterDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-individual-detail-div {
  display: flex;
  flex-direction: column;
  
}
.footer-individual-detail-div p {
  border-bottom: solid lightgray;
  margin: 1px;
}

div.top-books-info {
  padding: 1rem;
  margin: 1rem;
  border: solid 2px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

nav#nav-var a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav#nav-var a.selected{
  color: green;
  font-weight: bold;
  font-size: 1.75rem;
}

div#user-profile{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

div#user-profile h2{
  text-align: end;
}

main.user-info{
  display: flex;
  flex-direction: column;
}

div.user-links{
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

div.user-links a{
  font-weight: bolder;
  color: black;
}

div.user-personal-info{
  padding: 1rem;
  margin: 1rem;
  border: solid 2px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 15%;
  height: 15%;
  border-radius: 20%;
}

pre{
  text-align: center;
  color: red;
}

pre#sucess-register{
  text-align: center;
  color: blue;
}

div#books-page{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

div#books-page h2{
  text-align: end;
}

div#block-cart-page h2{
  text-align: end;
  margin: 1rem;
}

div#block-cart-page h2.cart-title{
  text-align: center;
  margin: 2.5rem;
}

div#cart-page{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
}

div#cart-page h2{
  text-align: end;
}

div#home-page{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

div#home-page h2{
  text-align: end;
}

.checked {
  color: orange;
}

div#edit-user h2{
  text-align: end;
}

div#edit-user{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

div#edit-user form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px grey;
}

div#edit-user form label{
  font-weight: bold;
}

div#edit-user form input{
  height: 2.3em;
  text-indent: 5px;
  width: 350px;
  margin-bottom: 0%;
}

div#edit-user form button{
  background-color: black;
  color: white;
  width: 5%;
  height: 40px;
  margin: 1rem;
}

div#edit-user-password h2{
  text-align: end;
}

div#edit-user-password{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

div#edit-user-password form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px grey;
}

div#edit-user-password form label{
  font-weight: bold;
}

div#edit-user-password form input{
  height: 2.3em;
  text-indent: 5px;
  width: 350px;
  margin-bottom: 0%;
}

div#edit-user-password form button{
  background-color: black;
  color: white;
  width: 5%;
  height: 40px;
  margin: 1rem;
}

div#books-page h2{
  text-align: center;
}

div#books-page h2.user-name{
  text-align: end;
}

div#order-page h2.checkout-title{
  text-align: center;
  margin: 2.5rem;
}

div#books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

div.book-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%/4 - 1rem);
  padding: 1rem;
  margin: 1rem;
  border: solid 2px grey;
}

div.book-info button a{
  color: white;
  text-decoration: none;
}

div.book-info button{
  background-color: black;
  color: white;
  margin: 1rem;
}

div.book-info > * {
  padding: 0.25rem;
  margin: 0.25rem;
}

img.photo-books{
  width: 50%;
  height: 65%;
  border-radius: 20%;
}

span{
  font-weight: bold;
}

nav#page-list{
  display: flex;
  justify-content: center;
}

ul#pages{
  display: flex;
  list-style-type: none;
  font-weight: bold;
}

ul#pages li{
  padding: 0.30rem;
}

ul#pages li.pageSelected{
  background-color: grey;
  border-radius: 0.25rem;
}

ul#pages li.pageSelected a{
  color: black;
}

div#book{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

div#book h2{
  text-align: end;
}

div#book-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 5rem;
  border: solid 2px grey;
  border-width: 1px;
}

div#book-info button{
  background-color: black;
  color: white;
  margin: 1rem;
}

div#book-info > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

img.photo-book{
  width: 15%;
  height: 15%;
  border-radius: 20%;
}

p{
  font-size: 18px;
}

span#stock-left{
  color: red;
}

span#in-stock{
  color: green;
}

span#out-stock{
  color: red;
}

div#cart-books{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid 2px grey;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
}

div#cart-books img.photo-last-item{
  width: 5%;
  height: 10%;
}

div#shopping-cart{
  padding: 1rem;
  margin: 1rem;
}

div#shopping-cart h2{
  text-align: center;
}

main#display-lineitem{
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: space-evenly;
}

main#display-lineitem > *{
  padding: 0.5rem;
  margin: 0.5rem;
}

img#display-photo-lineitem{
  width: 10%;
  height: 25%;
  border-radius: 20%;
}

div#div-info-line-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#div-info-line-item > *{
  padding: 0.25rem;
  margin: 0.25rem;
}

div#div-info-line-item a{
  text-decoration: none;
}

#searchbar-input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

#searchbar-input:focus {
  outline: 3px solid #ddd;

}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  width: 300px;
  border: 1px solid #ddd;
  align-self: center;
  right: 40%;
}

.dropdown-content p:hover {background-color: #f1f1f1}

div#subtotal-line-items{
  width: 15%;
  height: 20%;
  border: solid 2px grey;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

div#subtotal-line-items button{
  background-color: black;
  margin: 1rem;
}

div#subtotal-line-items button a{
  color: white;
  text-decoration: none;
}

div#order-page{
  padding: 1rem;
  margin: 1rem;
}

div#order-page h2.user-name{
  text-align: end;
}

main#order-info{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

main#order-info h2{
  text-align: center;
}

div#review-order{
  padding: 1rem;
  margin: 1rem;
}

div#review-order > *{
  padding: 0.5rem;
  margin: 0.5rem;
}

div#payment-info{
  padding: 1rem;
  margin: 1rem;
}

div#shipping-info{
  padding: 1rem;
  margin: 1rem;
}

div#shipping-info div{
  text-align: center;
}

div#total-line-items{
  width: 100%;
  height: 40%;
  border: solid 2px grey;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

div#total-line-items button{
  background-color: black;
  margin: 1rem;
}

div#total-line-items button a{
  color: white;
  text-decoration: none;
}

span#total-text{
  color: red;
  font-weight: 10px;
}

span#total-amount{
  color: red;
  font-weight: 10px;
}